@model MovieViewer.Models.MovieDb.MovieResponse.Movie

@{
    ViewData["Title"] = "Home Page";
}


<center><H1> Welcome To Movie Viewer!</H1></center>
<center><H1> Total recommended movie is</H1></center>
<h1>Title @Html.DisplayFor(modelItem => Model.Title)</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Poster
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="@Url.Content("https://image.tmdb.org/t/p/w500" + Model.PosterPath)" target="_blank">
                    <img src="@Url.Content("https://image.tmdb.org/t/p/w500" + Model.PosterPath)" width="300" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Overview)
            </td>
        </tr>
    </tbody>
</table>
<hr />
<center><H1> Welcome to find more interesting movie? Login to check it!</H1></center>
